@import "/src/style/variables.scss";

.nextUpload {
  width: 100%;
  max-width: 600px;
  justify-self: center;
}

.footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}