@import '/src/style/variables.scss';

.button {
    width: fit-content;
    min-width: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    min-height: 40px;
    border-radius: 4px;
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 0.75;
    }
}