@import '/src/style/variables.scss';

.title1 {
    @include title(42px);
}

.title2 {
    @include title(30px);
}

.title3 {
    @include title(24px);
}

.title4 {
    @include title(18px);
}

.text {
    @include text();
}

.textSmall {
    @include text(14px);
}

.textXSmall {
    @include text(12px);
}

.textBold {
    @include textBold();
}

.textItalic {
    @include textItalic();
}

.textAlignStart {
    text-align: start;
}

.textAlignCenter {
    text-align: center;
}

.textAlignEnd {
    text-align: end;
}