$colorPrimary: #f1f1f1;
$colorSecondary: #41434e;
$colorTertiary:#2e303b;
$colorForeground: #0c0c0c;
$colorText: #f1f1f1;

@mixin text($size: 18px) {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: $size;
}

@mixin textBold() {
  font-weight: 600;
}

@mixin textItalic() {
  font-style: italic;
}

@mixin title($size: 32px) {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $size;
}
